/src/components/Soundrecord/utils/
api
minifront
src/component/Soundrecord/utils/audio-worklet-processor.js
.umirc.ts
F:/前端项目/毕业设计/SmartClassOps/minifront/src/component/Soundrecord/utils/audio-worklet-processor.js
F:/前端项目/毕业设计/SmartClassOps/minifront/.umirc.ts